{% extends "base.html" %}
{% block title %}Studies{% endblock %}

{% block content %}
        <p>Page for the studies</p>
        <p>Search:</p>
        <form method="GET">
            <input id ="text_search" type="text" name="text_search" placeholder="Search a study">
        </form>
        {% if text_search %}
            <h2>Results for {{ text_search }}:</h2>

            <table id="result_table">
                {% for study in studies %}
                <tr>
                    <td>
                        <a href="/study/{{ study.id }}">{{ study.name }}</a>
                    </td>
                </tr>
                {%  endfor %}
            </table>
        {% endif %}
{% endblock %}
